.hidden {
    display: none;
}

.completed label {
    text-decoration: line-through;
    opacity: 0.6;
}

/**/

ul {
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

input[type=text],
footer button {
    margin-right: 5px;
}

input[type=checkbox] {
    float: left;
}

ul button {
    margin-left: 5px;
    font-weight: bold;
}