.modal.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
}

.modal .container {
    width: 400px;
    margin: 32px auto;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.modal .container .title {
    padding: 10px;
    background: rgb(42, 88, 132);
    color: white;
}

.modal .container .body {
    padding: 10px;
}

.modal .container .footer {
    padding: 10px;
    border-top: 1px solid darkgray;
}

.modal .container .footer .submit {
    float: right;
}