@import './src/modal.css';

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.login.modal .body input {
    display: block;
    width: 100%;
    padding: 5px 6px;
}

.login.modal .body input:not(:last-child) {
    margin-bottom: 10px;
}
